### Django ###
*.log
*.pot
*.pyc
.env
__pycache__/
e_library/system/__pycache__/
e_library/emanagement/__pycache__/
e_library/e_library/__pycache__/
e_library/__pycache__/

# Translations
e_library/locales/*.mo

# Django stuff:
e_library/db.sqlite3
e_library/staticfiles
e_library/media
!e_library/media/default.png
e_library/system/migrations/0*
e_library/emanagement/migrations/0*
