[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
bpython = "*"

[packages]
Django = "==3.1.4"
whitenoise = "==5.2.0"
djangorestframework = "==3.12.2"
Faker = "==5.1.0"
djangorestframework-simplejwt = "==4.6.0"
django-cors-headers = "==3.6.0"
Markdown = "==3.3.3"
django-cleanup = "==5.1.0"
django-filter = "==2.4.0"
mysqlclient = "==2.0.2"
django-extensions = "==3.1.0"
asgiref = "==3.3.1"
gitdb = "==4.0.5"
python-dateutil = "==2.8.1"
pytz = "==2020.5"
six = "==1.15.0"
smmap = "==3.0.4"
sqlparse = "==0.4.1"
text-unidecode = "==1.3"
Pillow = "==8.0.1"
GitPython = "==3.1.11"
PyJWT = "==2.0.0"

[requires]
python_version = "3.8"

[scripts]
cmd="python backend/manage.py"
collect = "python backend/manage.py collectstatic --noinput"
make = "python backend/manage.py makemigrations emanagement"
shell = "python backend/manage.py shell"
migrate = "python backend/manage.py migrate"
start = "./start.sh"
serve = "python backend/manage.py runserver 0.0.0.0:8000"
test = "python backend/manage.py test emanagement --verbosity 2 --keepdb"
clean = "rm -r backend/db.sqlite3 backend/emanagement/migrations"
