[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"
bpython = "*"
pygraphviz = "*"
Faker = "==5.1.0"

[packages]
Django = "==3.1.4"
whitenoise = "==5.2.0"
djangorestframework = "==3.12.2"
djangorestframework-simplejwt = "==4.6.0"
django-cors-headers = "==3.6.0"
Markdown = "==3.3.3"
django-cleanup = "==5.1.0"
django-filter = "==2.4.0"
django-extensions = "==3.1.0"
Pillow = "==8.0.1"
gunicorn = "*"
django-storages = {extras = ["dropbox"], version = "*"}
python-dotenv = "*"
pyyaml = "*"
uritemplate = "*"


[requires]
python_version = "3.8"

[scripts]
help="bash -c 'tail Pipfile -n 13 | head'"
cmd="python backend/manage.py"
collect = "python backend/manage.py collectstatic --noinput"
make = "python backend/manage.py makemigrations emanagement"
shell = "python backend/manage.py shell"
migrate = "python backend/manage.py migrate"
serve = "./start.sh"
server = "bash -c 'printf \"$(tput bold)$(tput setaf 2)Starting development server also on http://$(hostname -I)\b:8000/$(tput sgr0)\n\";python backend/manage.py runserver 0.0.0.0:8000'"
test = "python backend/manage.py test emanagement --verbosity 2 --keepdb'"
clean = "rm -r backend/db.sqlite3 backend/emanagement/migrations"
report = "newman run ePustakalay.postman_collection.json -r htmlextra --reporter-htmlextra-export ./backend/templates/index.html --reporter-htmlextra-title 'ePustakalay Api Report' --reporter-htmlextra-browserTitle 'ePustakalay'"

[pipenv]
allow_prereleases = true
