{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!--
		Google Font Roboto (min)
		Material Icon
		vuetify.css (min)
		vue (min)
		vuetify.js (min)
	-->

		<!-- Google Font Roboto -->
		<!-- CDN For Google Font Roboto -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
		<!-- Self hosting For Google Font Roboto -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'roboto.min.css' %}"
		/>
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'roboto.css' %}"> -->
		<!-- Google Font Roboto -->

		<!-- Material Icon -->
		<!-- Google Web Fonts CDN For Material Icon -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet"> -->
		<!-- Self hosting For Material Icon -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'Material-Icons.css' %}"
		/>
		<!-- Material Icon -->

		<!-- vuetify min css -->
		<!-- CDN vuetify.min.css v2.x for Development -->
		<!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->
		<!-- Self hosting vuetify.min.css v2.x for Development -->
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'vuetify.min.css' %}"> -->
		<!-- vuetify min css -->

		<!-- vuetify css -->
		<!-- CDN vuetify.css v2.x for Development -->
		<!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.css" rel="stylesheet"> -->
		<!-- Self hosting vuetify.min.css v2.x for Development -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'vuetify.css' %}"
		/>
		<!-- vuetify css -->

		<!-- vue js -->
		<!-- CDN vue.min.js v2.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
		<!-- Self hosting vue.min.js v2.x for Production -->
		<script src="{% static 'vue.js' %}"></script>
		<!-- vue js -->

		<!-- vue min js -->
		<!-- CDN vue.js v2.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script> -->
		<!-- Self hosting vue.js v2.x for Production -->
		<!-- <script src="{% static 'vue.min.js' %}"></script> -->
		<!-- vue min js -->

		<!-- vuex min js -->
		<!-- CDN vuex.min.js v3.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuex@3.x/dist/vuex.min.js"></script> -->
		<!-- Self hosting vuex.min.js v3.x for Production -->
		<!-- <script src="{% static 'vuex.min.js' %}"></script> -->
		<!-- vuex min js -->

		<!-- vuex js -->
		<!-- CDN vuex.js v3.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuex@3.x/dist/vuex.js"></script> -->
		<!-- Self hosting vuex.js v3.x for Production -->
		<script src="{% static 'vuex.js' %}"></script>
		<!-- vuex js -->

		<!-- vuetify min js -->
		<!-- CDN vuetify.min.js v2.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script> -->
		<!-- Self hosting vuetify.min.js v2.x for Production -->
		<!-- <script src="{% static 'vuetify.min.js' %}"></script> -->
		<!-- vuetify min js -->

		<!-- vuetify js -->
		<!-- CDN vuetify.js v2.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
		<!-- Self hosting vuetify.js v2.x for Production -->
		<script src="{% static 'vuetify.js' %}"></script>
		<!-- vuetify js -->

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
		/>

		<title>E-library management system</title>
	</head>
	<body>
		<noscript>
			<h1>Sorry we required Javascrip for Runing This Page</h1></noscript
		>
		{{ user.username }} {% verbatim %}
		<script type="text/x-template" id="app-template">
			<v-app>
			  <v-container>
			    <h1>{{ name }} <i class="material-icons">face</i> </h1>
			       <v-switch label="Dark Theme" :hide-details="true" :dense="true" v-model="$store.state.count" @click="increment"></v-switch>
			  </v-container>
			</v-app>
		</script>
		<div id="app">
			<hello></hello>
		</div>

		<script>
			const store = new Vuex.Store({
				state: {
					count: true,
				},
				mutations: {
					increment(state) {
						state.count = !state.count;
					},
				},
			});

			const VC = Vue.component("hello", {
				template: "#app-template",
				data: () => ({
					name: "shyamkumar yadav",
				}),
				methods: {
					increment() {
						store.commit("increment");
						console.log(store.state.count);
					},
				},
			});

			const vuetify = new Vuetify({
				theme: {
					dark: true,
				},
			});

			new Vue({
				vuetify,
				store,
			}).$mount("#app");
		</script>
		{% endverbatim %}
	</body>
</html>
