{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!--
		Google Font Roboto (min)
		Material DESIGN Icon
		vuetify.css (min)
		vue (min)
		vuetify.js (min)
	-->

		<!-- Google Font Roboto -->
		<!-- CDN For Google Font Roboto -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> -->
		<!-- Self hosting For Google Font Roboto -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'roboto.min.css' %}"
		/>
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'roboto.css' %}"> -->
		<!-- Google Font Roboto -->

		<!-- Material Icon -->
		<!-- Google Web Fonts CDN For Material Icon -->
		<!-- <link href="https://cdn.jsdelivr.net/npm/@md/font@latest/css/materialicons.min.css" rel="stylesheet"> -->
		<!-- Self hosting For Material Icon -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'Material-Icons.css' %}"
		/>
		<!-- Material Icon -->

		<!-- vuetify min css -->
		<!-- CDN vuetify.min.css v2.x for Development -->
		<!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet"> -->
		<!-- Self hosting vuetify.min.css v2.x for Development -->
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'vuetify.min.css' %}"> -->
		<!-- vuetify min css -->

		<!-- vuetify css -->
		<!-- CDN vuetify.css v2.x for Development -->
		<!-- <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.css" rel="stylesheet"> -->
		<!-- Self hosting vuetify.min.css v2.x for Development -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'vuetify.css' %}"
		/>
		<!-- vuetify css -->

		<!-- vue js -->
		<!-- CDN vue.min.js v2.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
		<!-- Self hosting vue.min.js v2.x for Production -->
		<script src="{% static 'vue.js' %}"></script>
		<!-- vue js -->

		<!-- vue min js -->
		<!-- CDN vue.js v2.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script> -->
		<!-- Self hosting vue.js v2.x for Production -->
		<!-- <script src="{% static 'vue.min.js' %}"></script> -->
		<!-- vue min js -->

		<!-- vuex min js -->
		<!-- CDN vuex.min.js v3.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuex@3.x/dist/vuex.min.js"></script> -->
		<!-- Self hosting vuex.min.js v3.x for Production -->
		<!-- <script src="{% static 'vuex.min.js' %}"></script> -->
		<!-- vuex min js -->

		<!-- vuex js -->
		<!-- CDN vuex.js v3.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuex@3.x/dist/vuex.js"></script> -->
		<!-- Self hosting vuex.js v3.x for Production -->
		<script src="{% static 'vuex.js' %}"></script>
		<!-- vuex js -->

		<!-- vuetify min js -->
		<!-- CDN vuetify.min.js v2.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script> -->
		<!-- Self hosting vuetify.min.js v2.x for Production -->
		<!-- <script src="{% static 'vuetify.min.js' %}"></script> -->
		<!-- vuetify min js -->

		<!-- vuetify js -->
		<!-- CDN vuetify.js v2.x for Development -->
		<!-- <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script> -->
		<!-- Self hosting vuetify.js v2.x for Production -->
		<script src="{% static 'vuetify.js' %}"></script>
		<!-- vuetify js -->

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
		/>

		<title>E-library management system</title>

		<!-- from vue build -->
		<!-- <link href="{% static 'js/about.js' %}" rel="prefetch" />
		<link
			href="{% static 'css/chunk-vendors.css' %}"
			rel="preload"
			as="style"
		/>
		<link href="{% static 'js/app.js' %}" rel="preload" as="script" />
		<link
			href="{% static 'js/chunk-vendors.js' %}"
			rel="preload"
			as="script"
		/>
		<link href="{% static 'css/chunk-vendors.css' %}" rel="stylesheet" /> -->
	</head>
	<body>
		<noscript>
			<strong>
				We're sorry but gui doesn't work properly without JavaScript
				enabled. Please enable it to continue.
			</strong>
		</noscript>
		<div id="app">
			<v-app id="inspire">
				<!-- <v-system-bar app>
					<v-spacer></v-spacer>
					<v-icon>wifi-strength-4</v-icon>
					<v-icon>signal-cellular-outline</v-icon>
					<v-icon>battery</v-icon>
					<span>12:30</span>
				  </v-system-bar> -->

				<v-app-bar app hide-on-scroll>
					<v-app-bar-nav-icon
						@click="drawer = !drawer"
					></v-app-bar-nav-icon>

					<v-toolbar-title>E library</v-toolbar-title>
					<v-spacer></v-spacer>

					<v-btn
						icon
						@click="$vuetify.theme.dark = !$vuetify.theme.dark"
					>
						<v-icon>settings_brightness</v-icon>
					</v-btn>
					<v-btn icon>
						<v-icon>search</v-icon>
					</v-btn>

					<v-menu left bottom>
						<template v-slot:activator="{ on, attrs }">
							<v-btn icon v-bind="attrs" v-on="on">
								<v-icon>more_vert</v-icon>
							</v-btn>
						</template>

						<v-list>
							<v-list-item
								v-for="n in 5"
								:key="n"
								@click="() => {}"
							>
								<v-list-item-title
									>status ${ n }</v-list-item-title
								>
							</v-list-item>
						</v-list>
					</v-menu>
				</v-app-bar>

				<v-navigation-drawer v-model="drawer" fixed app temporary>
					<template v-slot:prepend>
						<v-list-item two-line>
							<v-list-item-avatar>
								<img
									src="https://randomuser.me/api/portraits/men/81.jpg"
								/>
							</v-list-item-avatar>

							<v-list-item-content>
								<v-list-item-title
									>{{ user }}</v-list-item-title
								>
								<v-list-item-subtitle
									>{{ user.is_admin }}</v-list-item-subtitle
								>
							</v-list-item-content>
						</v-list-item>
					</template>
					<v-divider></v-divider>
					<v-list nav dense>
						<v-list-item-group>
							<v-list-item>
								<v-list-item-icon>
									<v-icon>home</v-icon>
								</v-list-item-icon>
								<v-list-item-title>Home</v-list-item-title>
							</v-list-item>

							<v-list-item>
								<v-list-item-icon>
									<v-icon>settings_brightness</v-icon>
								</v-list-item-icon>
								<v-list-item-title>Account</v-list-item-title>
							</v-list-item>
						</v-list-item-group>
					</v-list>

					<template v-slot:append>
						<div class="pa-2">
							<v-btn block> Logout </v-btn>
						</div>
					</template>
				</v-navigation-drawer>

				<v-main>
					<v-container>
						{% block main %} {% endblock main %}
					</v-container>
				</v-main>
			</v-app>
		</div>
		{% block javascript %}{% endblock javascript %}
		<script src="{% static 'index.js' %}"></script>
	</body>
</html>
