### Django ###
*.log
*.pot
*.pyc
.env
__pycache__/
system/__pycache__/
emanagement/__pycache__/
e_library/__pycache__/
__pycache__/

# Translations
locales/*.mo

# Django stuff:
db.sqlite3
staticfiles
media
!media/user.png
system/migrations/0*
emanagement/migrations/0*
