### Django ###
*.log
*.pot
*.pyc
.env
__pycache__/
system/__pycache__/
emanagement/__pycache__/
emanagement/static/emanagement/
emanagement/templates/emanagement/
e_library/__pycache__/
__pycache__/

# Translations
locales/*.mo

# Django stuff:
db.sqlite3
!media/user.png
media
system/migrations/0*
emanagement/migrations/0*
