{% load static %}
{% load i18n %}
{% load rest_framework %}
{% load emanagement %}

<!DOCTYPE html>
<html>
<head>
  {% block head %}
  
  {% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="robots" content="NONE,NOARCHIVE" />
  {% endblock %}
  
  <title>{% block title %}{% if name %}{{ name }} | {% endif %}ePustakalay{% endblock %}</title>
  
  {% block style %}
  {% block bootstrap_theme %}
  <script type="module">
    window.onload = () => {
      if (localStorage.getItem("elibrary-theme") === "true"){
        document.getElementById('theme').setAttribute("href", "{% static 'bootstrap-darkly.min.css' %}");
        document.getElementById('githubMark').style.filter = 'invert(1)';
        document.getElementById('el-dark').setAttribute("class", "disabled")
        document.getElementById('el-dark').setAttribute('onclick', '');
      }else{
        localStorage.setItem("elibrary-theme", false);
        document.getElementById('el-light').setAttribute("class", "disabled")
        document.getElementById('el-light').setAttribute('onclick', '');
      }
    }
    
  </script>
  
  <link rel="stylesheet" id="theme" href="{% static 'bootstrap.min.css' %}" type="text/css">
  
  {% endblock %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/prettify.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'rest_framework/css/default.css' %}"/>
  <style>
    
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

  </style>
  {% if code_style %}
  <style>{{ code_style }}</style>
  {% endif %}
  {% endblock %}
  
  {% endblock %}
</head>

{% block body %}
<body class="{% block bodyclass %}{% endblock %}">

  <!-- github Mark SVG -->
  <a id="githubMark" href="//github.com/shyamkumaryadav/ePustakalay" target="_blank" style="z-index: 2;position: fixed;right: 5%;bottom: 5%;" title="Fork me on GitHub">
    <img src="{% static 'GitHub-Mark.svg' %}" alt="Github Logo" width="40px">
  </a>
  </style>
  
  <!-- <div class="wrapper"> -->
    <nav>
    {% block navbar %}
    <div class="navbar navbar-default" role="navigation" aria-label="{% trans 'navbar' %}">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block branding %}
          <p class='navbar-brand'><a href='{% url 'admin:index' %}' target="_blank">ePustakalay </a><a href="{% url 'api-root' %}">
            API
          </a></p>
          {% endblock branding %}
        </div>
        
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
          {% if user.is_superuser %}
          <ul class="nav navbar-nav">
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
          {% endif %}
          <ul class="nav navbar-nav navbar-left">
            {% all_router request %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                JWT
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">JSON web Token</li>
                <li><a style="cursor: pointer;" href="{% url 'gettoken' %}">Get Token</a></li>
                <li><a style="cursor: pointer;" href="{% url 'reftoken' %}" >Refresh Token</a></li>
                <li><a style="cursor: pointer;" href="{% url 'vertoken' %}" >Verify Token</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Theme
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li id="el-light" onclick="localStorage.setItem('elibrary-theme', false);location.reload();"><a>Default</a></li>
                <li id="el-dark" onclick="localStorage.setItem('elibrary-theme', true);location.reload();"><a>Darkly</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            {% block userlinks %}
            {% if user.is_authenticated %}
            {% optional_info request user %}
            {% else %}
            {% optional_login request %}
            {% endif %}
            {% endblock userlinks %}
          </ul>
        </div>
      </div>
    </div>
    {% endblock navbar %}
  </nav>
    
  <main>
    <div class="container">
      
  
      {% block breadcrumbs %}
      {% if breadcrumblist %}
      <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
        {% if forloop.last %}
        <li style="cursor: pointer;" class="active" onclick="location.href = '{{ breadcrumb_url }}'">{{ breadcrumb_name }}</li>
        {% else %}
        <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
        {% endif %}
        {% empty %}
        {% block breadcrumbs_empty %}&nbsp;{% endblock breadcrumbs_empty %}
        {% endfor %}
        {% if post_form %}<div class="pull-right"><a href="#post-object-form">Form:POST</a></div>{% endif %}
        {% if put_form %}<div class="pull-right"><a href="#put-object-form">Form:PUT</a></div>{% endif %}
      </ul>
      {% endif %}
      {% endblock breadcrumbs %}
      
      
      <!-- Content -->
      <div id="content" class="container-fluid" role="main" aria-label="{% trans 'content' %}">
        {% block content %}
        
        <div class="region"  aria-label="{% trans 'request form' %}">
          {% block request_forms %}
          
          {% if 'GET' in allowed_methods %}
          <form id="get-form" class="pull-right">
            <fieldset>
              {% if api_settings.URL_FORMAT_OVERRIDE %}
              <div class="btn-group format-selection">
                <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>
                
                <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  {% for format in available_formats %}
                  <li>
                    <a class="js-tooltip format-option" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}" rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              {% else %}
              <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>
              {% endif %}
            </fieldset>
          </form>
          {% endif %}
          
          {% if options_form %}
          <form class="button-form" action="{{ request.get_full_path }}" data-method="OPTIONS">
            <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the {{ name }} resource">OPTIONS</button>
          </form>
          {% endif %}
          
          {% if delete_form %}
          <button class="btn btn-danger button-form js-tooltip" title="Make a DELETE request on the {{ name }} resource" data-toggle="modal" data-target="#deleteModal">DELETE</button>
          
          <!-- Delete Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <h4 class="text-center">Are you sure you want to delete this {{ name }}?</h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <span>&nbsp;</span>
                  <form class="button-form" action="{{ request.get_full_path }}" data-method="DELETE">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          
          {% if extra_actions %}
          <div class="dropdown" style="float: right; margin-right: 10px">
            <button class="btn btn-default" id="extra-actions-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {% trans "Extra Actions" %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="extra-actions-menu">
              {% for action_name, url in extra_actions|items %}
              <li><a href="{{ url }}">{{ action_name }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          
          <!-- filter -->
          {% if filter_form %}
          <button style="float: right; margin-right: 10px" data-toggle="modal" data-target="#filtersModal" class="btn btn-default">
            <span>🔎</span>
            {% trans "Filters" %}
          </button>
          {% endif %}
          
          {% endblock request_forms %}
        </div>
        
        <div class="content-main" role="main"  aria-label="{% trans 'main content' %}">
          <div class="row">
            <div class="col-sm-12 page-header">
              <h1>{{ name }}</h1>
            </div>
            <div class="col-xs-12 col-md-12 text-info" style="float:left">
              <blockquote>
                {% block description %}
                {{ description }}
                {% endblock %}
              </blockquote>
            </div>
            
            <!-- paginator -->
            {% if paginator %}
            <div style="float: right">
              {% get_pagination_html paginator %}
            </div>
            {% endif %}
            
            <!-- method path -->
            <div class="request-info" style="clear: both" aria-label="{% trans 'request info' %}">
              <pre class="prettyprint"><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
            </div>
            <br>
            <!-- HTTP ok -->
            <div class="response-info" aria-label="{% trans 'response info' %}">
              <pre class="prettyprint"><span class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% for key, val in response_headers|items %}
                <b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize }}</span>{% endfor %}
              </span>{{ content|urlize }}</pre>
            </div>
          </div>
        </div>
        

        <!-- HTML form / Raw data -->
        {% if display_edit_forms %}
        {% if post_form or raw_data_post_form %}
        <div {% if post_form %}class="tabbable"{% endif %}>
          {% if post_form %}
          <ul class="nav nav-tabs form-switcher">
            <li>
              <a name='html-tab' href="#post-object-form" data-toggle="tab">HTML form</a>
            </li>
            <li>
              <a name='raw-tab' href="#post-generic-content-form" data-toggle="tab">Raw data</a>
            </li>
          </ul>
          {% endif %}
          
          <div class="well tab-content">
            {% if post_form %}
            <div class="tab-pane" id="post-object-form">
              {% with form=post_form %}
              <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                  {% csrf_token %}
                  {{ post_form }}
                  <div class="form-actions">
                    <button class="btn btn-primary js-tooltip" title="Make a POST request on the {{ name }} resource">POST</button>
                  </div>
                </fieldset>
              </form>
              {% endwith %}
            </div>
            {% endif %}
            
            <div {% if post_form %}class="tab-pane"{% endif %} id="post-generic-content-form">
              {% with form=raw_data_post_form %}
              <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
                <fieldset>
                  {% include "rest_framework/raw_data_form.html" %}
                  <div class="form-actions">
                    <button class="btn btn-primary js-tooltip" title="Make a POST request on the {{ name }} resource">POST</button>
                  </div>
                </fieldset>
              </form>
              {% endwith %}
            </div>
          </div>
        </div>
        {% endif %}
        
        {% if put_form or raw_data_put_form or raw_data_patch_form %}
        <div {% if put_form %}class="tabbable"{% endif %}>
          {% if put_form %}
          <ul class="nav nav-tabs form-switcher">
            <li>
              <a name='html-tab' href="#put-object-form" data-toggle="tab">HTML form</a>
            </li>
            <li>
              <a  name='raw-tab' href="#put-generic-content-form" data-toggle="tab">Raw data</a>
            </li>
          </ul>
          {% endif %}
          
          <div class="well tab-content">
            {% if put_form %}
            <div class="tab-pane" id="put-object-form">
              <form action="{{ request.get_full_path }}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
                <fieldset>
                  {{ put_form }}
                  <div class="form-actions">
                    <button class="btn btn-primary js-tooltip" title="Make a PUT request on the {{ name }} resource">PUT</button>
                  </div>
                </fieldset>
              </form>
            </div>
            {% endif %}
            
            <div {% if put_form %}class="tab-pane"{% endif %} id="put-generic-content-form">
              {% with form=raw_data_put_or_patch_form %}
              <form action="{{ request.get_full_path }}" data-method="PUT" class="form-horizontal">
                <fieldset>
                  {% include "rest_framework/raw_data_form.html" %}
                  <div class="form-actions">
                    {% if raw_data_put_form %}
                    <button class="btn btn-primary js-tooltip" title="Make a PUT request on the {{ name }} resource">PUT</button>
                    {% endif %}
                    {% if raw_data_patch_form %}
                    <button data-method="PATCH" class="btn btn-primary js-tooltip" title="Make a PATCH request on the {{ name }} resource">PATCH</button>
                    {% endif %}
                  </div>
                </fieldset>
              </form>
              {% endwith %}
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endblock content %}
      </div>
    </div>
  </main>
    
    <footer class="navbar-default"  style="padding: 20px 0;">
      <!-- heart  -->
      <style>
        @keyframes heartbeat {
          0% {
            transform: scale( .75);
          }
          20% {
            transform: scale( .85);
          }
          40% {
            transform: scale( .75);
          }
          60% {
            transform: scale( 1);
          }
          65% {
            transform: scale( .65);
          }
          80% {
            transform: scale( .75);
          }
          100% {
            transform: scale( .75);
          }
        }
        
      </style>
      <div style="cursor: auto;" class="text-center">
        made with <a href="//djangoproject.com/" target="_blank" data-toggle="tooltip" data-placement="top" title="Django Project &hearts;">Django</a>, <a href="//django-rest-framework.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="Django REST Api Project &hearts;">DRF</a><div style="color: red;font-size: 35px;animation: heartbeat 1s infinite;">&hearts;</div><a href="//github.com/shyamkumaryadav" target="_blank" data-toggle="tooltip" data-placement="top" title="Shyamkumar's site">Shyamkumar Yadav</a>
      </div>
    </footer>
  <!-- </div>./wrapper -->
  
  {% if filter_form %}
  {{ filter_form }}
  {% endif %}
  
  {% block script %}
  <script>
    window.drf = {
      csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
      csrfToken: "{% if request %}{{ csrf_token }}{% endif %}"
    };
  </script>
  <script src="{% static 'rest_framework/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'rest_framework/js/ajax-form.js' %}"></script>
  <script src="{% static 'rest_framework/js/csrf.js' %}"></script>
  <script src="{% static 'rest_framework/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'rest_framework/js/prettify-min.js' %}"></script>
  <script src="{% static 'rest_framework/js/default.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('form').ajaxForm();
    });
    
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
  </script>
  {% endblock %}
  
</body>
{% endblock %}
</html>
