<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vue App</title>
    <link href="{% static 'gui/js/app.js' %}" rel="preload" as="script">
    <link href="{% static 'gui/js/chunk-vendors.js' %}" rel="preload" as="script">
    
</head>

<body data-static-url="{% get_static_prefix %}">
    <h1>{{ request.user.is_authenticated }} username {% get_static_prefix as staticurl %}</h1>
    <div id="app"></div>
    <script src="{% static 'gui/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'gui/js/app.js' %}"></script>
</body>

</html>