{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
      // https://stackoverflow.com/questions/13639464/javascript-equivalent-to-pythons-format#13639670
      String.prototype.format = function() {
        var args = arguments;
        this.unkeyed_index = 0;
        return this.replace(/\{(\w*)\}/g, function(match, key) { 
          if (key === '') {
            key = this.unkeyed_index;
            this.unkeyed_index++
          }
          if (key == +key) {
            return args[key] !== 'undefined'
            ? args[key]
            : match;
          } else {
            for (var i = 0; i < args.length; i++) {
              if (typeof args[i] === 'object' && typeof args[i][key] !== 'undefined') {
                return args[i][key];
              }
            }
            return match;
          }
        }.bind(this));
      };
    </script>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"> -->
    <!-- uncomment the line in producation use google or any other CDN also don't forget to comment the line 3 on vuetify.js -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
