{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>EPustakalay API Reference Docs</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="https://secure.gravatar.com/avatar/1840c1d32f824408af0521456033aa07" type="image/x-icon">

    <!--
    Redocly doesn't change the outer page styles
    -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="redocly_container" />
    <script src="{% static 'redocly-reference-docs.min.js' %}"></script>
    <script>
      RedoclyReferenceDocs.init(
      '{% url schema_url %}',{
        showConsole: false,
        pathInMiddlePanel: true,
        hideHostname: true,
        disableSearch: true,
        generateCodeSamples: {
          languages: [
            { lang: 'curl' },
            { lang: 'Python' },
            { lang: 'Java' },
            { lang: 'Node.js' },
            { lang: 'JavaScript', label: 'JS' },
          ],
        },
        },
      document.querySelector('#redocly_container')
    );
    </script>
  </body>
</html>
<!DOCTYPE html>
